<?xml version="1.0" encoding="UTF-8"?>
<!--This file is created manually. Select Project >
Click Right Click > New > File> testng.xml > Press Enter >
Provide this tags -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Test Flow">
    <test name = "Test">
        <classes>
            <class name="testcase.Wallet_Single_Ben">

            </class>
        </classes>
    </test>
</suite>